

<section style="width: 100%;height: 50px;">
  <div style="text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    background-color: aquamarine;">
   Admin Panel
  </div>  
  



</section>

<section style="width: 100%;height: 30px;">
<div style="text-align: center;">
 Subscription Request from Clients
</div>
</section>




<div style="font-size: 12px;" *ngIf="view" >



<!-- <div class="container">
  <div class="row"> -->
    <div class="col-xs-12">
      <div class="table-responsive my_t" data-pattern="priority-columns">
        <table class="table table-bordered table-hover">
          
          <thead class="t_h">
            <tr>
              <th>SI</th>
                          
              <th data-priority="2">First Name</th>
              <th data-priority="3"> Last Name </th>
              <th data-priority="3"> Email </th>
           
            </tr>
          </thead>
          <tbody >
            <tr *ngFor = "let item of view_model.item ">
              <td>{{item.SI}}</td>
              <td>{{item.FIRST_NAME }}</td>
              <td>{{item.LAST_NAME}}</td>
              <td>{{item.EMAIL}}</td>
              
            </tr>
           
           
          </tbody>
          <tfoot>
           
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  

  
  

</div>    



















<div *ngIf="!view">
<div class="box"><div class="sk-circle">

</div>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>

  </div>
  </div>
</div> 


